body,
html {
  height: 100%;
  min-width:550px ;
}
body {
  margin: 5%;
  font-family: "Roboto", sans-serif;
  background-image: url("/data/bg_img.jpg");
  background-attachment: fixed;
  
}
.title{
  text-align: center;
  color: white;
  font-size: 2em;
  margin-top: 2%;
  
}
.container {
  display: grid;
  grid-template-columns: 1fr 4.5fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "card main";
}
.navbar {
  margin-bottom: 2%;
  position: sticky;
  top: 0;
  padding: 10px 16px;
  background: rgb(0, 34, 68);
  color: #f1f1f1;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
 
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: transform 0.3s ease;
  z-index: 2;
}

.navbar a {
  color: white;
  font: athelas;
  text-decoration: none;
  
}
.navbar a:hover {
  color: white;
  font: athelas;
  text-decoration: none;
  transform: scale(1.2);
  transition: 0.2s;
  
}
.active {
  border-bottom: 2px solid white;
  font-size: larger;
  transition: 1.2s;
  
}
.card {
  grid-area: card;
  width: 30%;
  height: 100%;
  
}

.main {
  grid-area: main;
  background-color: #333;
  border-radius: 30px;
}

.card {
  margin-left: 5px;
  font: Gadugi;
  width: 190px;
  height: 254px;
  border-radius: 5px 50px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  /*box-shadow: 32px 32px 64px #a6a6a6, -32px -32px 64px #ffffff;*/
}
.card .card-border-top {
  width: 60%;
  height: 3%;
  background: #6b64f3;
  margin: auto;
  border-radius: 0px 0px 15px 15px;
}

.card span {
  font-weight: 600;
  color: white;
  text-align: center;
  display: block;
  padding-top: 30%;
  font-size: 16px;
}

.card .job {
  font-weight: 400;
  color: black;
  display: block;
  text-align: center;
  padding-top: 3px;
  font-size: 12px;
}

.card .img_bio {
  
  max-width: 100px;
  height: 80px;
  background: #6b64f3;
  border-radius: 15px;
  margin: auto;
  
}

.card button:hover {
  background: #534bf3;
}

.card img {
  width: 100%;
}
.links_bio {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  color: wheat;
}
.links_bio i {
  transition: 0.2s;
}
.links_bio i:hover {
  background: wheat;
  transform: scale(1.6);
  opacity: 1;
}

.wave {
}
