body{
  background-color: #0e67a0;
  overflow-x: hidden;
}
.header{
  margin-left: 10%;
  max-width: 50%;
  min-width: 300px;
  border-radius: 100px 10px 100px 10px;
    color: black;
    font-size: 1.5rem;
    text-align: left;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header h1{
  padding-left: 7%;
  position: relative;
  top: 10px;
}
.header h4{position: relative;
  left: 7.2%;
  bottom: 15px;}
.title h1{
  
  padding-left: 7%;
  position: relative;
  top: 10px;
}
.title h4{position: relative;
  left: 7.2%;
  bottom: 15px;}
.navbar {
    
    position: sticky;
    top: 0;
    padding: 10px 16px;
    background: #350ea0;
    color: #f1f1f1;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    margin-inline: 10%;
    -webkit-backdrop-filter: blur(2.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: transform 0.3s ease;
    z-index: 2;
  }
  
  .navbar a {
    color: white;
    font-family: athelas;
    font-size: xx-large;
    text-decoration: none;
    
  }
  .navbar a:hover {
    color: white;
    font: athelas;
    text-decor  ation: none;
    transform: scale(1.2);
    transition: 0.2s;
    
  }
  .active {
    border-bottom: 2px solid white;
    font-size: larger;
    transition: 1.2s;
    
  }
  


  
@media screen and (max-width: 650px) {

  body{
      
      align-items: center;
        display: grid;
        justify-content: center;
      
      

  }
  .header h1 h4{
    right: 3px;
  }
  .header{
    margin-left: 0;
    
    max-width: 100%;
    min-width: 100%;
    border-radius: 100px 0 100px 0;
    color: black;
    font-size: 1.5rem;
    text-align: center;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .navbar a{
    color: white;
    font: athelas;
    font-size: clamp(1rem, 2vw, 1.5rem);;
    text-decoration: none;
    
  }
  .navbar{
    min-width: 215px;
  }

}
