body,
html {
  height: 100%;
  min-width:550px ;
}
body {
  margin: 5%;
  font-family: "Roboto", sans-serif;
  background-image: url("../data/bg_img.jpg");
  background-attachment: fixed;
  background-size: cover;
  
}
.title{
  text-align: center;
  color: white;
  font-size: 2em;
  margin-top: 2%;
  
}
.container {
  display: grid;
  grid-template-columns: 1fr 4.5fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "card main";
}
.navbar {
  margin-bottom: 2%;
  position: sticky;
  top: 0;
  padding: 10px 16px;
  background: rgb(0, 34, 68);
  color: #f1f1f1;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
 
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: transform 0.3s ease;
  z-index: 2;
}

.navbar a {
  color: white;
  font: athelas;
  text-decoration: none;
  
}
.navbar a:hover {
  color: white;
  font: athelas;
  text-decor  ation: none;
  transform: scale(1.2);
  transition: 0.2s;
  
}
.active {
  border-bottom: 2px solid white;
  font-size: larger;
  transition: 1.2s;
  
}
.card {
  grid-area: card;
  width: 30%;
  height: 100%;
  
  
}

.main {
  grid-area: main;
  background-color: #333;
  border-radius: 30px;
  backdrop-filter: blur(2px) saturate(200%);
  -webkit-backdrop-filter: blur(2px) saturate(200%);
  background-color: rgba(255, 255, 255, 0);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  min-height: fit-content;
 
}

.card {
  color:white;
  margin-left: 5px;
  font: Gadugi;
  width: 190px;
  height: 250px;
  border-radius: 5px ;
  backdrop-filter: blur(2px) saturate(200%);
  -webkit-backdrop-filter: blur(2px) saturate(200%);
  background-color: rgba(255, 255, 255, 0);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
 
}
.card-border-top {
  width: 60%;
  height: 15px;
  background: #38598b;
  margin: auto;
  border-radius: 0px 0px 15px 15px;
}

.card span {
  font-weight: 600;
  color: white;
  text-align: center;
  display: block;
  padding-top: 30%;
  font-size: 16px;
}

.card .job {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  padding-top: 3px;
  font-size: 12px;
}

.card .img_bio {
  
  max-width: 100px;
  height: 80px;
  background: #6b64f3;
  border-radius: 15px;
  margin: auto;
  
}

.card button:hover {
  background: #534bf3;
}

.card img {
  width: 100%;
  border-radius: 10px;
}
.links_bio {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  
}
.bi {
  transition: 0.2s;
}
.bi:hover {
  transform: scale(1.4);
  
  opacity: 1;
}
.card .bi {
  font-size: 2em;
  font-style: oblique;
 
  color: white;

}


@media only screen and (max-width: 600px) {
  
  .
}
@media only screen and (max-width: 600px) {
  body {
    
    justify-content: center;
  
 
  }
  body,
html {
  height: 100%;
  max-width:350px ;
}
  .main{
    max-width: 350px;
    margin: 0;
    
  }
  .container{
    margin: 0;
    padding: 0;
    display: ruby;
  }
  .navbar {
    max-width: 350px;
  }
  .flip-card{
    min-width: 20px;
  }
  .card{
    display: none;
  }
}
